# Core functionality - changes here should be rare!
/src/app.py                   @20Torrez08
/src/backend/database.py      @20Torrez08
/src/backend/routers/auth.py  @20Torrez08

# The frontend will need refactored soon to be more object oriented.
/src/static/   @20Torrez08
